@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    /* font-weight: 400; */
}

body.hidden-scroling {
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER HAI YAHA PE  */



/* yaha se heading and main page start ki css start ho rahi hai 
 */

.heading {
    background: transparent;
    margin-top: 20rem;
    position: absolute;
   
    z-index: 99;
}

.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/about2.webp");
    background-position: center top;
    background-size: cover;
}

.hero {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.hero1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
}


/* story wala section yaha se start ho raha hai  */

.fstdiv33 {
    padding: 15px;
    padding-top: 55px;
}

.clfab2 {
    width: 100%;
}

.ab{
    margin-top: 3rem;
}

.ourstory_h1 {
    font-size: 32px;
    text-transform: none;
    margin-bottom: 10px;
    color: #00a2fe !important;
    font-weight: 600;
    text-align: center;
}

.ourstory_p1 {
    font-size: 17.5px;
    text-align: justify;
}

/* .ourstory_imgsec2 {
  display: flex;
  align-items: stretch;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.story_img1 {
  width: 100%;
  height: auto;
  display: block;
} */




/* we stand ka section yaha se start ho raha hai  */

.pt-0 {
    padding-top: 0!important;
}

.ourteam_div1 {
    text-align: left;
    padding: 8%;
    padding-top: 0%;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.header_div1 {
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ourteam65 {
    width: 100%;
    text-align: center;
    color: #00a2fe !important;
    font-size: 32px;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 60px;
    margin-bottom: 10px;
    font-weight: 600;
}

.ourstory_p2 {
    font-size: 18px;
    text-align: center;
}

.con1 {
    position: relative;
    width: 360px;
    height: 250px;
    display: inline-block;
    margin: 10px 1%;
}

.image1 {
    display: block;
    width: 360px;
    height: 250px;
}

.overlay1 {
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background-color: #024e80;
    ;
}

.con1:hover .overlay1 {
    opacity: 1;
}

.text1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    /* line-height: 3px; */
}

.overlayLeft1 {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.con1:hover .overlayLeft1 {
    width: 100%;
}

.text1 {
    width: 100%;
}

.text1 h2 {
    font-size: 15px;
}

.text1 p {
    font-size: 10px;
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

.img-fluid {
    max-width: fit-content;
    height: 100%;
    width: auto;
}

.conimghed {
    display: flex;
    justify-content: center;
    background-color: black;
}

.imghead {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 4px;
}

.industries_ul1 {
    list-style: none;
    line-height: 22px;
    text-align: left;
    margin-left: 0px !important;
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 13px;
}


/* progess bar ka section yaha se start ho raha hai  */

.clfab3 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.progressbar_section1 {
    padding-bottom: 0px;
    padding-top: 0px;
}

.counter {
    background-color: #0a0f25;
    text-align: center;
}

.employees,
.customer,
.design,
.order {
    margin-top: 70px;
    margin-bottom: 70px;
}

.counter_bardiv33 {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    height: 90px;
    margin-bottom: 15px;
}

.counter-count {
    font-size: 30px;
    /* text-decoration: underline; */
    /* background-color: #00b3e7; */
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 110px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    padding-bottom: 0px;
    /* border-bottom: 2px solid #fff; */
}

.employee-p,
.customer-p,
.order-p,
.design-p {
    font-size: 18px;
    color: #fff;
    line-height: 34px;
}

.counter_span22 {
    font-size: 30px;
    /* margin-left: -20px; */
    color: #fff;
}

.counter_span33 {
    font-size: 30px;
    /* margin-right: -20px; */
    color: #fff;
}


/* footer ka section yaha se start ho raha hai  */
