@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    line-height: 1.5;
    font-family: Gill Sans, sans-serif;
    /* font-weight: 400; */
}

body.hidden-scroling {
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER HAI YAHA PE  */

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 0px;
    margin-top: 0;
}

.header-main {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    /* border-radius: 10px; */
    box-shadow: 2px 2px;
}

.header .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.header .logo a img {
    width: 100%;
    height: 50px !important;
    padding-right: 2rem !important;
}

.header .nav-menu {
    padding: 0 50px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>.sub-menu>.menu-item:hover>a,
.header .menu>.menu-item:hover>a {
    color: #39b7ff;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid #39b7ff;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #39b7ff;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39b7ff;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span::after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}


/* home section yaha se shuru ho raha hai  */

.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/pi.jpg");
    background-position: center top;
    background-size: cover;
}


/* responsive ka sara material yaha pe hai  */

@media (max-width: 756px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        z-index: 1000;
        padding: 15px 0;
        background-color: #222222;
        transition: all 0.5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff
    }

    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}


/* yaha se heading and main page start ki css start ho rahi hai 
 */

.heading {
    background: transparent;
    margin-top: 17rem;
    position: absolute;
    z-index: 99;
}

.hero {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

.hero>a {
    text-decoration: none;
    color: #fff;
}

.hero:hover>a {
    text-decoration: none;
}

.integration:hover {
    color: #39b7ff;
}

.retail:hover {
    color: #39b7ff;
}

.explore-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* .explore-content {
    margin-top: 3rem;
    margin-left: 6rem;
} */

.explore {
    background-color: #2a4c79bf;
    color: white;
    font-size: larger;
    font-weight: bold;
    /* padding: .7rem 0; */
    /* margin-left: 1rem; */
    /* margin-top: 1rem; */
    /* display: flexbox; */
    /* position: absolute; */
}

/* the section main style is started from here  */

.we-hb-section {
    display: block;
    width: 100%;
    position: relative;
    padding: 100px 0;
}


@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .container1 {
        width: 100%;
        /* max-width: 1200px!important; */
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container1 {
        width: 100% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container1 {
        width: 100% !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .container1 {
        width: 100% !important;
    }
}


.row1 {
    margin-right: -15px;
    margin-left: -15px;
}

.home-overview-flex {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.home-overview-flex .home-cmn-ttl {
    padding-top: 15px;
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .home-cmn-ttl {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .home-cmn-ttl {
        margin-bottom: 15px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-cmn-ttl {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .we-hb-section .home-cmn-ttl {
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-cmn-ttl {
        margin-bottom: 80px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .we-hb-section .home-cmn-ttl {
        margin-bottom: 30px;
    }
}

.home-cmn-ttl {
    display: inline-block;
    width: 100%;
    position: relative;
    /* margin-bottom: 40px; */
}

.cmn-sub-ttl {
    color: var(--main-blue);
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}


@media (min-width: 1366px) and (max-width: 1600px) {
    .cmn-hdng {
        font-size: 36px;
        line-height: 46px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .cmn-hdng {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cmn-hdng {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cmn-hdng {
        font-size: 26px;
        line-height: 34px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cmn-hdng {
        font-size: 24px;
        line-height: 30px;
    }
}

.cmn-hdng {
    display: block;
    /* font-size: 36px; */
    color: #212121;
    /* line-height: 52px; */
    font-weight: 700;
    margin-top: 8px;
}

.we-hb-section .home-cmn-ttl p {
    /* padding-right: 40px; */
    text-align: justify;
    padding: 10px;
}

.home-cmn-ttl p {
    display: block;
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 34px;
    color: #333333;
    letter-spacing: .2px;
}


@media (min-width: 1366px) and (max-width: 1600px) {
    .home-cmn-ttl p {
        font-size: 18px;
        line-height: 30px;
        margin: 15px 0 0;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .home-cmn-ttl p {
        font-size: 18px;
        line-height: 30px;
        margin: 15px 0 0;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-cmn-ttl p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-cmn-ttl p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .home-cmn-ttl p {
        font-size: 24px;
        line-height: 30px;
    }
}

.home-cmn-btn {
    display: inline-block;
    min-width: 190px;
    line-height: 58px;
    text-align: center;
    border: 1px solid #0067ff;
    background: #0067ff;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.home-cmn-btn:hover {
    background: black;
    color: white;
    border-color: black;
    text-decoration: none;
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .home-overview-flex .home-cmn-ttl .home-cmn-btn {
        margin-top: 28px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .home-overview-flex .home-cmn-ttl .home-cmn-btn {
        margin-top: 26px;
    }
}

.home-overview-flex .home-cmn-ttl .home-cmn-btn {
    margin-top: 70px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-overview-flex .home-cmn-ttl .home-cmn-btn {
        margin: 30px auto 0;
        float: none;
        display: table;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-cmn-btn {
        min-width: 170px;
        line-height: 50px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .home-overview-flex .home-cmn-ttl .home-cmn-btn {
        bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .home-overview-flex .home-cmn-ttl .home-cmn-btn,
    .industry-section .home-cmn-btn,
    .insight-section .home-cmn-btn {
        /* position: absolute;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%; */
        margin-top: 70px;
        margin-left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-cmn-btn {
        min-width: 160px;
        line-height: 50px;
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .home-cmn-btn {
        min-width: 180px;
        line-height: 50px;
        font-size: 16px;
    }
}

.home-cmn-btn i {
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.overview-blk {
    width: 100%;
    position: relative;
    display: flex;
}

.overview-blk ul {
    width: 294px;
    display: block;
    margin: 0 15px;
    padding: 0;
    float: left;
}



@media (min-width: 1200px) and (max-width: 1500px) {
    .overview-blk ul {
        width: calc(50% - 30px);
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .overview-blk ul {
        width: calc(50% - 30px);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overview-blk ul {
        width: 50%;
        margin: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .overview-blk ul {
        width: 50%;
        margin: 0;
        padding: 0 7px;
    }
}

.overview-blk ul li {
    width: 100%;
    display: inline-block;
    margin: 15px 0;
    padding: 40px 20px 40px 30px;
    min-height: 320px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, .03);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    left: 0;
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .overview-blk ul li {
        padding: 25px;
        min-height: 280px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .overview-blk ul li {
        padding: 25px;
        min-height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overview-blk ul li {
        padding: 30px;
        width: calc(50% - 20px);
        margin: 0 8px;
        padding: 15px;
        vertical-align: top;
        min-height: 230px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .overview-blk ul li {
        padding: 15px;
        min-height: 250px;
    }
}

.overview-blk ul li.yellow:before {
    background: yellow;
}

.overview-blk ul li:before {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    border-radius: 0 0 8px 8px;
    bottom: 0;
    left: 0;
    /* background: var(--light-grey); */
}

.cmn-sub-ttl {
    color: #0067ff;
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

.overview-blk ul li .hb-numbers {
    font-size: 64px;
    margin: 50px 0 55px;
    display: block;
    line-height: 26px;
    font-weight: 700;
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .overview-blk ul li .hb-numbers {
        margin: 26px 0;
        font-size: 46px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .overview-blk ul li .hb-numbers {
        margin: 26px 0;
        font-size: 44px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .overview-blk ul li .hb-numbers {
        margin: 20px 0 40px;
        font-size: 38px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overview-blk ul li .hb-numbers {
        margin: 10px 0 15px;
        font-size: 40px;
        line-height: 40px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .overview-blk ul li .hb-numbers {
        margin: 20px 0;
        font-size: 40px;
        line-height: 40px;
    }
}

.overview-blk ul li p {
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .overview-blk ul li p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .overview-blk ul li p {
        line-height: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overview-blk ul li p {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .overview-blk ul li p {
        font-size: 14px;
        line-height: 20px;
    }
}

.overview-blk ul li:hover:after {
    width: 100%;
    right: inherit;
    left: 0;
}


.overview-blk ul li.purple:before {
    background: #c65ea6;
}

.overview-blk ul li:after {
    content: '';
    width: 0;
    height: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, #fbe484, #b37e0e, #fbe484);
    z-index: 1;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.overview-blk ul li.sky-blue:before {
    background: #0883c3;
}

.overview-blk ul li.green:before {
    background: #269d38;
}

.overview-blk ul:last-child {
    margin-top: 115px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .overview-blk ul:last-child {
        margin-top: 65px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .overview-blk ul:last-child {
        margin-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .overview-blk ul:last-child {
        margin: 0;
    }
}


/* the slider style is starts from here  */
.service-slide {
    width: 100%;
    display: block;
    position: relative;
    min-height: inherit;
    padding-left: 300px;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .service-slide {
        padding-left: 230px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .service-slide {
        padding-left: 200px;
        min-height: inherit;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .service-slide {
        padding: 0;
        min-height: initial;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .service-slide {
        padding: 0 0 50px;
        min-height: inherit;
    }
}

.service-thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 510px;
    height: 555px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

@media (min-width: 1200px) and (max-width: 1500px) {
    .service-thumb-img {
        width: 445px;
        height: 525px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .service-thumb-img {
        width: 300px;
        height: 520px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .service-thumb-img {
        display: none;
    }
}


.service-thumb-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 510px;
    height: 555px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .service-thumb-img {
        width: 100%;
        height: 250px;
        border-radius: 0;
        display: none;
    }
}

.service-thumb-img i {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}

.service-thumb-img picture {
    position: absolute;
}

.picture.active {
    /* Add your desired styles for the active picture */
    border: 2px solid blue;
    /* Example styles */
}

.picture.active img {
    /* Add any styles specific to the active image within the picture */
    opacity: 1;
    /* Example styles */
}

.picture {
    /* Add styles for all pictures (both active and inactive) */
    border: 2px solid gray;
    /* Example styles */
}

.srvice-slide-sec {
    width: 100%;
    position: relative;
}

.srvice-slide-sec .item {
    padding: 18px 15px;
}




.srv-sld-blk {
    width: 100%;
    display: flex;
    padding: 35px;
    min-height: 520px;
    background: white;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
}

@media (min-width: 768px) and (max-width: 1023px) {.srv-sld-blk:before {
    box-shadow: 0 0 10px 7px rgb(0, 0, 0, .07);
}
}

@media (min-width: 320px) and (max-width: 767px) {.srv-sld-blk:before {
    box-shadow: 0 0 10px 7px rgb(0, 0, 0, .07);
}
}


.srv-sld-blk:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, .03);
    border: 1px solid #eee;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: -1;
}

@media (min-width: 320px) and (max-width: 767px) {.service-mbl-img:after {
    content: '';
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
}

@media (min-width: 768px) and (max-width: 1023px) {.service-mbl-img:after {
    content: '';
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
}

@media (min-width: 768px) and (max-width: 1023px) {.srv-sld-blk:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}
}

@media (min-width: 320px) and (max-width: 767px){ .srv-sld-blk:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}
}

@media (min-width: 768px) and (max-width: 1023px) {
    .srv-sld-blk {
        filter: none;
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .srv-sld-blk {
        padding: 140px 25px 25px;
        min-height: 460px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .srv-sld-blk {
        padding: 140px 25px 25px;
        min-height: 420px;
    }
}


.service-mbl-img {
    display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .service-mbl-img {
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        left: 0;
        top: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .service-mbl-img {
        display: block;
        position: absolute;
        width: 100%;
        border-radius: 8px 8px 0 0;
        overflow: hidden;
        left: 0;
        top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .srv-sld-blk a,
    .srv-sld-blk p {
        position: relative;
        z-index: 1;
    }
}
.srv-sld-icn {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #c1e4f7;
    margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .srv-sld-icn {
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .srv-sld-icn {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .srv-sld-icn {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .srv-sld-icn {
        display: none;
    }
}


.srv-sld-blk a {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    color: black;
}

.srv-clr-blue {
    background: #c1e4f7;
}



@media (min-width: 1366px) and (max-width: 1600px) {
    .srv-sld-icn {
        margin-bottom: 20px;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .srv-sld-icn {
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .srv-sld-icn {
        margin-bottom: 20px;
    }
}


.srv-sld-blk .service-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    min-height: 80px;
    margin: 10px 0;
   
}

@media (min-width: 320px) and (max-width: 767px) {
    .srv-sld-blk .service-title {
        
            position: relative;
            z-index: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .srv-sld-blk .service-title {
        position: relative;
        margin-top: 0;
        z-index: 1;
    }
}

.srv-sld-blk p {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    margin: 10px 0 0;
    max-height: 172px;
}


@media (min-width: 320px) and (max-width: 767px) {.srv-sld-blk p {
    font-size: 15px;
    margin: 15px 0 0;
    min-height: 140px;
    position: relative;
    z-index: 1;
}
}
@media (min-width: 768px) and (max-width: 1023px) {.srv-sld-blk a,
.srv-sld-blk p {
    position: relative;
    z-index: 1;
}
}

@media (min-width: 768px) and (max-width: 1023px) {.srv-sld-blk p {
    font-size: 15px;
    margin: 15px 0 0;
    min-height: 140px;
}
}

@media (min-width: 1024px) and (max-width: 1279px) {.srv-sld-blk p {
    font-size: 15px;
    margin: 15px 0 0;
    min-height: 160px;
    line-height: 23px;
}
}
@media (min-width: 1280px) and (max-width: 1365px) {.srv-sld-blk p {
    font-size: 16px;
    margin: 15px 0 0;
    min-height: 180px;
    line-height: 24px;
}
}

@media (min-width: 1366px) and (max-width: 1600px) {.srv-sld-blk p {
    font-size: 16px;
    margin: 15px 0 0;
    min-height: 180px;
    line-height: 24px;
}
}

.home-link {
    font-size: 18px;
    color: #0067ff;
    /* font-family: var(--font-family-bold); */
    display: flex;
    align-items: center;
    float: left;
}
.srv-sld-blk .home-link {
    margin-top: 35px;
    justify-content: flex-end;
}
@media (min-width: 1366px) and (max-width: 1600px) {.srv-sld-blk .home-link {
    margin-top: 15px;
}
}

@media (min-width: 1280px) and (max-width: 1365px){ .srv-sld-blk .home-link {
    margin-top: 15px;
}
}
@media (min-width: 1024px) and (max-width: 1279px) {.srv-sld-blk .home-link {
    margin-top: 70px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {.srv-sld-blk .home-link {
    margin-top: 15px;
}
}
@media (min-width: 320px) and (max-width: 767px){ .srv-sld-blk .home-link {
    margin-top: 15px;
}
}

.home-link i {
    margin-left: 7px;
    display: inline-block;
    vertical-align: middle;
}

.home-link i svg {
    float: left;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.service-icon1 {
    width: 34px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: 0 0;
}

.service-icon-sprites {
    background: url(../images/service-icon-sprites-new.webp) no-repeat 0 0;
}

.service-icon2 {
    width: 24px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -55px 0;
}

.service-icon3 {
    width: 41px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -99px 0;
}

.service-icon4 {
    width: 36px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -161px 0;
}

.service-icon5 {
    width: 33px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -217px 0;
}

.service-icon6 {
    width: 35px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -270px 0;
}

.service-icon8 {
    width: 37px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -373px 0;
}

.service-icon9 {
    width: 31px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -431px 0;
}

.service-icon10 {
    width: 36px;
    height: 39px;
    display: block;
    margin: auto;
    margin-top: 18px;
    background-position: -482px 0;
}

.srvice-slide-sec .owl-nav {
    display: block;
    position: absolute;
    top: -120px;
    right: 200px;
}

@media (min-width: 1366px) and (max-width: 1600px) {.srvice-slide-sec .owl-nav {
    top: -100px;
    right: 80px;
}
}
@media (min-width: 1280px) and (max-width: 1365px) {.srvice-slide-sec .owl-nav {
    top: -100px;
    right: 70px;
}
}
@media (min-width: 1024px) and (max-width: 1279px) {.srvice-slide-sec .owl-nav {
    right: 0;
}
}
@media (min-width: 768px) and (max-width: 1023px) {.srvice-slide-sec .owl-nav {
    position: static;
    width: 100%;
    text-align: center;
}
}
@media (min-width: 320px) and (max-width: 767px) {.srvice-slide-sec .owl-nav {
    display: none;
}
}


.srvice-slide-sec .owl-nav .owl-prev {
    background: url(https://img.hiddenbrains.com/public/local-cdn/images/arrow-left-hm.svg?v1) no-repeat center;
    filter: brightness(100%);
}

.srvice-slide-sec .owl-nav .owl-next,
.srvice-slide-sec .owl-nav .owl-prev {
    width: 77px;
    height: 20px;
    margin: 0 10px;
    text-indent: -9999px;
    float: left;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    cursor: pointer;
    border: 1px solid #0067ff;
    border-radius: 50%;
    height: 56px;
    width: 56px;
}

@media (min-width: 320px) and (max-width: 767px) {.srvice-slide-sec .owl-nav {
    display: none;
}
}

@media (min-width: 768px) and (max-width: 1023px) {
    .srvice-slide-sec .owl-nav {
        display: none;
    }
}

.srvice-slide-sec .owl-nav .owl-next {
    background: url(https://img.hiddenbrains.com/public/local-cdn/images/arrow-right-hm.svg) no-repeat center;
    filter: brightness(100%);
}




 /*==================== the technology section is starts from here  =======================*/


/* 
.home-techno-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-techno-tabs {
    display: block;
    width: 100%;
    position: relative;
}

.home-techno-tabs .nav-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.home-techno-tabs .nav-tabs .item {
    margin-bottom: -1px;
}

.home-techno-tabs .nav-tabs .item a {
    min-width: 190px;
    line-height: 60px;
    position: relative;
    font-size: 20px;
    color: #121212;
    transition: all .3s ease-in-out;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none !important;
    cursor: pointer !important;
    text-decoration: none;
}

.home-techno-tabs .nav-tabs .item.active a,
.home-techno-tabs .nav-tabs .item:hover a {
    color: #0067ff;
}

.home-techno-tabs .nav-tabs .item.active a::after,
.home-techno-tabs .nav-tabs .item:hover a::after {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0067ff;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    content: '';
}

.home-techno-tabs .nav-tabs .item.active a::after {
    background: #0067ff;
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .home-techno-tabs .nav-tabs .item a {
        font-size: 20px;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .home-techno-tabs .nav-tabs .item a {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-techno-tabs .nav-tabs .item a {
        min-width: 140px;
        line-height: 54px;
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-techno-tabs .nav-tabs .item a {
        display: block;
        border: 1px solid #eee !important;
        border-radius: 8px;
        overflow: hidden;
        min-width: inherit;
        width: 100%;
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .home-techno-tabs .nav-tabs .item a {
        display: block;
        border: 1px solid #eee !important;
        border-radius: 8px;
        overflow: hidden;
        min-width: 120px;
        width: 100%;
        font-size: 15px;
    }
} */

.home-techno-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-techno-tabs {
    display: block;
    width: 100%;
    position: relative;
}

.home-techno-tabs .nav-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.home-techno-tabs .nav-tabs .item {
    margin-bottom: -1px;
}

.home-techno-tabs .nav-tabs .item a {
    min-width: 190px;
    line-height: 60px;
    position: relative;
    font-size: 20px;
    color: #121212;
    transition: all .3s ease-in-out;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none !important;
    cursor: pointer !important;
    text-decoration: none;
}

.home-techno-tabs .nav-tabs .item.active a,
.home-techno-tabs .nav-tabs .item:hover a {
    color: #0067ff;
}

.home-techno-tabs .nav-tabs .item.active a::after,
.home-techno-tabs .nav-tabs .item:hover a::after {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0067ff;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    content: '';
}

.home-techno-tabs .nav-tabs .item.active a::after {
    background: #0067ff;
}

.home-techno-tabs .nav-tabs .item.active:hover a::after {
    background: #0067ff;
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .home-techno-tabs .nav-tabs .item a {
        font-size: 20px;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .home-techno-tabs .nav-tabs .item a {
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .home-techno-tabs .nav-tabs .item a {
        min-width: 140px;
        line-height: 54px;
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .home-techno-tabs .nav-tabs .item a {
        display: block;
        border: 1px solid #eee !important;
        border-radius: 8px;
        overflow: hidden;
        min-width: inherit;
        width: 100%;
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .home-techno-tabs .nav-tabs .item a {
        display: block;
        border: 1px solid #eee !important;
        border-radius: 8px;
        overflow: hidden;
        min-width: 120px;
        width: 100%;
        font-size: 15px;
    }
}





















.home-techno-tabs .q-t-s-txt .tab_content {
    display: block;
    margin: 0;
    width: 100%;
    padding: 50px 0 0;
}

.tab-pane:active {
    display: block;
}

.tab-pane {
    display: none;
    height: auto !important;
}

.tech-service-link {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-evenly;
   
}

.q-t-s-txt ul {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'lato';
    list-style-type: none;
    
}



/* the slider style is ends here  */

/* .baac {
    background-color: #16a9e2;
    padding: 2rem 10rem;
    display: flexbox;
    position: absolute;
    z-index: -99;
} */

.m1 {
    background-color: #e5e6eb;
    padding: 35px;
    margin-top: 3rem;
}

.m1 .para1>p {
    letter-spacing: 1px !important;
    color: #394b72 !important;
    text-align: justify !important;
    font-size: 1.4rem !important;
}

.icon-heading {
    padding: 20px 20px;
}

.icon {
    margin: 5px;
    color: #16a9e2;
}

.check-heading {
    /* padding: 0 0 10px 45px; */
    color: #394b72;
    font-weight: 600 !important;
    padding-left: 15px !important;
    font-size: 22px;
    padding-bottom: 10px !important;
    line-height: 1;
    margin-bottom: 5px !important;
}


/* card yaha se shuru ho rahe hai */

.c-img {
    margin-top: 100px;
    /* display: flex; */
}

/* .row-image {
    /* padding-left: 40px; */
/* } */

.image-card {
    margin: auto;
    padding: 20px;
}

.c-body {
    background-color: #e5e6eb;
}

.card-p {
    /* letter-spacing: 1px !important; */
    color: #117ea7 !important;
    text-align: justify !important;
    padding: 15px 8px !important;
    font-size: 1.3rem !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.c-btn {
    background-color: #117ea7;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.c-para {
    /* margin-bottom: 1.7rem; */
    padding-bottom: 2.6rem;
}


/* second image section yaha se shuru ho raha hai bro */


#img2 {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/cloud-connect.png");
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 3rem 0;
}

/* #wall_video {
    width: 100%;
    transform: translate(0%, 0%);
    background-size: cover;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    /* overflow-x: hidden; */
/* } */

.head1 {
    background-color: transparent;
    text-align: left;
    font-size: 60px;
    font-weight: 800;
    padding: 2rem;
    color: #00a2fe;
}

.p2 {
    background-color: transparent;
    color: #000;
    text-align: left;
    margin: auto;
    font-size: 20px;
    padding: 2rem;
}

.c-btn2 {
    background-color: #117ea7;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-left: 1.8rem;
}


/* testimoniala section yaha se shuru ho raha hai bhai */

#testimonials {
    margin-top: 5rem;
}

.testi {
    color: #00a2fe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
}


/* .test-card {
    margin: 20px;
}

.car-img {
    max-height: 70px;
    margin-top: 50px;
    width: 50%;
    margin-left: 70px;
}  */

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: #00a2fe; */
    border-radius: 25px 25px 0 25px;
}


/* .overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px; */


/* background-color: #00a2fe; */


/* }

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
} */

.card-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid #00a2fe;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: left;
    /* padding-top: 2rem; */
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #00a2fe;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #265DF2;
}

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}


/* =================hot air balloon section yaha se start ho raha hai ======= */

#secondbannerimg {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif");
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 3rem 0;
}

.headsec {
    color: #FFF;
    position: absolute;
    padding-top: 15rem;
    padding-left: 7rem;
}

.c-btn1:hover {
    background-color: transparent;
}


/* =============partners ka section yaha se shuru ho raha hai  */

#partners {
    margin-top: 3rem;
}

.partner {
    color: #00a2fe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
}

.part {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.partimg {
    height: 150px;
    width: 150px;
    padding: 1rem;
    object-fit: contain;
    align-items: center;
}


/* =============footer ka section yaha se start ho raha hai sir  */

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.footer .logo a img {
    width: 100%;
    height: 8vh !important;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.foadd h3 {
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}