@media (max-width: 1199px) {
    .whiteSection {
      padding: 20px 0;
    }
  }
  @media (min-width: 768px) {
    .col-sm-4 {
      width: 33.33333333%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  @media (min-width: 768px) {
    .col-sm-6 {
      width: 50%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  @media (max-width:590px) {
    .codeclouds-in-house-developers-img {
        padding-left: 10px;
        padding-top: 1rem;
      }
    
  }
  @media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
  }
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
}
@media (min-width: 992px){
.col-lg {
    flex: 1 0 0%;
}
}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
}