 body {
     background-color: #f7f7f7;
     font-family: Arial, sans-serif;
     line-height: 1.6;
     text-align: center;
 }

 .container {
     max-width: auto;
     margin: 0 auto;
     padding: 40px;
     background-color: #ffffff;
     border-radius: 4px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 h1 {
     font-size: 24px;
     margin-bottom: 20px;
 }

 p {
     font-size: 18px;
     margin-bottom: 30px;
 }

 a {
     color: #ffffff;
     background-color: #007bff;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 4px;
     text-decoration: none;
 }

 .icon {
     color: #007bff;
 }

 .col-md-6 hr {
     border: 0;
     /* Remove the default border */
     height: 2px;
     /* Set the height of the line (1 pixel in this example) */
     background-color: #007bff;
     /* Set the color of the line (black in this example) */
     margin: 10px 0;
 }

 .circle {
     display: inline-block;
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color: #007bff;
     text-align: center;
 }

 .circle i {
     line-height: 40px;
     color: #000000;
 }

 .icon {
     margin: 20px;
     font-size: 50px;
 }

 .success {
     color: #007bff;
     font-weight: bold;
 }

 .p-lite {
     font-size: 15px;
     margin-top: 0;
 }

 .rightloc {
     margin-top: 2rem;
 }

.last{
    margin-top: 4rem;
}

.last .row h3{
    text-align: justify;
    font-size: 20px;
}


.last .row ul{
    list-style: square;
    text-align: justify;
}

.new{
    text-decoration: none;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    border-radius: 0;
}